body { font-family: monospace;
}

header {
   
    display:flex;
    justify-content: space-between; text-decoration: underline 2px;
    text-decoration-color: aquamarine;
}

#score {
    margin-left: 10px; 
    margin-bottom: 10px;
}

#timer-text {
    margin-right: 40px;

}

section{

    margin: 100px 50px 100px 50px;
    padding: 10px 25px 25px 10px;
    text-align: center;
    /* border-radius: 5px;
    border-style:double; */
}

.question-container h3 {
    
    text-decoration: underline 2px;
    text-decoration-color: rgb(94, 206, 169);

    }


button {
    text-decoration: underline 1px;
    font-weight: bolder;
    background-color: aquamarine ;
}

button:hover {
    cursor: pointer;
    background-color: rgb(96, 201, 166) ;
}

input {
    display:none;
    text-align: center;
}
